  
/* 首页一键装机助理样式 */
.topGroup .todayCard::after {
    box-shadow: 0 -109px 133px -9px #0003 inset;
}


/* 代码引用颜色 */
#article-container code {
    animation: lighterBackgroundColor 0.001s 0.85 linear forwards;
}

@keyframes lighterBackgroundColor {
    from {
        background-color: var(--anzhiyu-code-stress);
    }

    to {
        background-color: #fff0
    }
}

#article-container code {
    color: var(--anzhiyu-code-stress);
}

/* 导航栏毛玻璃 */
#page-header.nav-fixed #nav {
    backdrop-filter: blur(20px);
}

/* 移动端分类栏毛玻璃 */
@media screen and (max-width: 768px) {
    [data-theme="dark"] #category-bar.category-bar {
        backdrop-filter: blur(20px);
        background: var(--anzhiyu-card-bg);
    }
}

/* PC端导航栏透明 */
[data-theme='dark'] #page-header.nav-fixed>#nav,
[data-theme='dark'] #page-header.not-top-img>#nav {
    background: var(--anzhiyu-card-bg);
}

/* 侧边栏透明+毛玻璃 */
#sidebar #sidebar-menus {
    backdrop-filter: blur(20px);
    background: var(--anzhiyu-card-bg);
}

/* 搜索毛玻璃 */
.search-dialog {
    backdrop-filter: blur(20px);
}

/* 搜索背景毛玻璃 */
#search-mask {
    backdrop-filter: blur(20px);
}

/* 字体颜色渐变 */
/* b, strong {
	background-image: -webkit-gradient(linear, left center, right center, from(#ED52F4), to(#2696DF));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
} */


/* 颜色 */

/* 浅色背景透明 */
[data-theme="light"] {
    --anzhiyu-card-bg: #fffc;
}

/* 深色背景透明 */
[data-theme="dark"] {
    --anzhiyu-lighttext: var(--anzhiyu-main);
    --anzhiyu-card-bg: #1d1e22bb;
}

/* 引用左边条 */
blockquote {
    border-left: 3px solid var(--anzhiyu-main);
}

/* 修复链接字体 */
#article-container a:not([data-fancybox="gallery"]):not(.headerlink):not(.cf-friends-link):not(.tag-Link):not(.btn-anzhiyu):not(.no-text-decoration) {
    font-weight: inherit;
    font-family: inherit;
}

/* fancybox */
.fancybox__container {
    --fancybox-bg: #000c;
}
.fancybox__backdrop {
    backdrop-filter: blur(20px);
}